@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Spectral:ital,wght@1,800&display=swap');

* {
   margin: 0;
   padding: 0;
   border: none;
}

body {background-color: #3ABEAA;}

body {
    font-family: Merriweather, sans-serif;
    font-weight: 300;
    color: #5F0000;
}

/* headings adn logo */

h1, h2 {
    font-family: Spectral, sans-serif;
    font-weight: 350;
    letter-spacing: 4px;
    color: #D95E05;
}

#logo {
    float: none;
    font-size: 200%;
    margin-left: 1000px;
    text-decoration: none;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
    }

#menu li {
    float: left;
    margin-left: 30px;
    list-style-type: square;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    background-color: #3ABEAA;
}

.active {
    background-color: #3ABEAA;
}

/*hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h1 {
    color: #D95E05;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/content-pixie-pMKm9pybnTE-unsplash.jpg) no-repeat center center;

    /* animates zoom effect on loading image */

    animation-name: hero-zoom;
    animation-duration: 9s;
    animation-fill-mode: backwards;
}

/* creates the level of zoom for hero image */

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 300%;
    font-family: Spectral, sans-serif;
    letter-spacing: 4px;

    width: 900px;
    height: 200px;

    padding: 0;
    border: 3px solid #3ABEAA;

    background-color: rgba(223, 224, 223, .7);

    bottom: 0px;
    left: 800px;

    position: absolute;
}

/* witches info */

#witches {
    padding-top: 100px;
    height: 600px;
    margin-left: 30px;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #D95E05;
    border-width: 1px;
    margin-left: 150px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg-1 {
    background: url(../images/miriam-espacio-lxCm8DbY3kM-unsplash.jpg) no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#circle-cover-bg-2 {
    background: url(../images/petr-sidorov-tQNoMWOvhXs-unsplash.jpg) no-repeat center center;
    height: 100%;
    border-radius: 50%;
}
#witch-1 {
    padding-top: 30px;
    padding-left: 300px;
    width: 33%;
    float: left;
    margin-left: 5px;
    background-color: rgba(223, 224, 223, .7);
    text-align: center;
}

#witch-2 {
    padding-top: 30px;
    padding-right: 300px;    
    width: 33%;
    float: right;
    margin-right: 5px;
    background-color: rgba(223, 224, 223, .7);
    text-align: center;
}

hr {
    border-top: 1px solid #3ABEAA;
    width: 80%;
    margin: 15px;
}

.witch-1-heading {
    width: 60%;
    float: none;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    text-align: center;
}

.witch-2-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    text-align: center;
}